[submodule "library"]
	path = library
	url = https://github.com/duilib/duilib.git
[submodule "OBS"]
	path = OBS
	url = https://github.com/anyboo/OBS.git
[submodule "JSON"]
	path = JSON
	url = https://github.com/miloyip/rapidjson.git
[submodule "demo/UKey"]
	path = demo/UKey
	url = https://github.com/wwang13/ukey.git
[submodule "Test"]
	path = Test
	url = https://github.com/philsquared/Catch.git
[submodule "grpc"]
	path = grpc
	url = https://github.com/grpc/grpc.git
